@model WebTS2.Controllers.ActividadesFertilizanteIndexViewModel

@{
    ViewBag.Title = "Lista";
}

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Lista TablaActividades</h3>
                    <div class="pull-right box-tools">
                        <table>
                            <tr>
                                <td style="padding-right: 5px">
                                    @using (Html.BeginForm("Index", "TablaActividades", FormMethod.Get))
                                    {
                                        <div class="input-group">
                                            @Html.TextBox("Search", null, new { @class = "input-sm form-control" })
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm btn-primary" type="submit"> <i class="fa fa-search"></i></button>
                                            </span>
                                        </div>
                                    }
                                </td>
                                <td>
                                    <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("Create")" data-toggle="tooltip" title="" data-original-title="Agregar">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    @*<div class="box-tools">
                            <div class="row">
                                <div class="col-sm-7 m-b-xs">
                                    <a type="button" class="btn btn-sm btn-primary" href="@Url.Action("Create")"> <i class="fa fa-plus"></i> Agregar</a>
                                    <a type="button" class="btn btn-sm btn-success" href="@Url.Action("ReportExcel")"> <i class="fa fa-file-excel-o"></i> Reporte Excel</a>
                                    <a type="button" class="btn btn-sm btn-warning" href="@Url.Action("ReportPDF")"> <i class="fa fa-file-pdf-o"></i> Reporte PDF</a>
                                </div>
                                <div class="col-sm-5 m-b-xs">
                                    @using (Html.BeginForm("Index", "TablaActividades", FormMethod.Get))
                                    {
                                        <div class="input-group">
                                            @Html.TextBox("Search", null, new { @class = "input-sm form-control" })
                                            <span class="input-group-btn">
                                                <button class="btn btn-sm btn-primary" type="submit"> Buscar</button>
                                            </span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>*@
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-striped">
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Items[0].descripcion)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Items[0].abreviatura)
                            </th>
                            <th>
                                Unidad de medida
                            </th>
                            <th>
                                Costo
                            </th>
                            <th>
                                Fecha de creacion
                            </th>
                            <th>
                                Fecha de cambio
                            </th>


                            <th></th>
                        </tr>

                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.abreviatura)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TablaCultivos.descripcion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.costo1)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechacreacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.fechacambio)
                                </td>
                                <td>
                                    <a class="btn btn-primary btn-xs" href="@Url.Action("Details", new { id=item.idactividades })">
                                        <i class="fa fa-file" aria-hidden="true"></i> Detalle
                                    </a>
                                    <a class="btn btn-success btn-xs" href="@Url.Action("Edit", new { id=item.idactividades })">
                                        <i class="fa fa-pencil" aria-hidden="true"></i> Editar
                                    </a>
                                    <a class="btn btn-danger btn-xs" href="@Url.Action("Delete", new { id=item.idactividades })">
                                        <i class="fa fa-trash" aria-hidden="true"></i> Eliminar
                                    </a>
                                </td>
                            </tr>
                        }

                    </table>
                    <nav>
                        <ul class="pagination pagination-sm">
                            @for (int x = 1; x < Model.Pager.TotalPages + 1; x++)
                            {
                                if (x == Model.Pager.CurrentPage)
                                {
                                    <li class="active"><a href="#">@x <span class="sr-only">(current)</span></a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", new { page = @x, Search = @ViewBag.Search })">@x </a></li>
                                }
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>
