@model WebTS2.Models.TablaActividades

@{
    ViewBag.Title = "Detalle";
}



<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Mano de obra</h3>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        @{

                            string prorrateo = "";
                            if (Model.prorrateo == true)
                            {
                                prorrateo = "si";
                            }
                            else
                            {
                                prorrateo = "no";
                            }
                            <dt>
                                @Html.DisplayNameFor(model => model.descripcion)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.descripcion)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.abreviatura)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.abreviatura)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.unimedida)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TablaCultivos.descripcion)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.costo1)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.costo1)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.prorrateo)
                            </dt>

                            <dd>
                                @prorrateo
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.fechacreacion)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.fechacreacion)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.fechacambio)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.fechacambio)
                            </dd>
                        }

                    </dl>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">

                            @Html.ActionLink("Editar", "Edit", new { id = Model.idactividades }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




