@model WebTS2.Models.PlantillaCultivoDetalle

@{
    ViewBag.Title = "Detalle";
}



<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">PlantillaCultivoDetalle</h3>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.idempresa)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.idempresa)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.idusuario)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.idusuario)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.cantidad)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.cantidad)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.fechacreacion)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fechacreacion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.fechacambio)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fechacambio)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.PlantillaCultivoCabecera.idempresa)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.PlantillaCultivoCabecera.idempresa)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.TablaActividades.idempresa)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.TablaActividades.idempresa)
                        </dd>

                    </dl>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">

                            @Html.ActionLink("Edita", "Edit", new { id = Model.idplantilladetalle }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-default" })


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



