@model WebTS2.Models.Lote

@{
    ViewBag.Title = "Detalle";
}



<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Lote</h3>
                </div>
                <div class="box-body">
                    <dl class="dl-horizontal">

                        <dt>
                            Fundo
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.Fundo.descripcion)
                        </dd>
                        <dt>
                            Lote
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.descripcion)
                        </dd>

                        <dt>
                            @Html.DisplayNameFor(model => model.area)
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.area)
                        </dd>

                        <dt>
                            Fecha de creacion
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fechacreacion)
                        </dd>

                        <dt>
                            Fecha de cambio
                        </dt>

                        <dd>
                            @Html.DisplayFor(model => model.fechacambio)
                        </dd>



                    </dl>
<div class="form-group">
                        <div class="col-md-offset-2 col-md-10">

	    @Html.ActionLink("Edita", "Edit", new { /* id = Model.PrimaryKey */ }, new { @class = "btn btn-primary"})
    @Html.ActionLink("Cancelar", "Index",null , new { @class = "btn btn-default"})
               
                           
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</section>




